ball/Forums_0.3/conf/com/orpheus/game/server/ValidationConfiguration.dtd

<?xml version="1.0" encoding="UTF-8"?><!--DTD generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)--><!ELEMENT validation (global, formset)><!ELEMENT global (constant*)><!ELEMENT formset (form*)><!ELEMENT constant (constant-name, constant-value)><!ELEMENT form (formLevelValidation*, associativeValidators, elements)><!ATTLIST form	name CDATA #REQUIRED><!ELEMENT constant-name (#PCDATA)><!ELEMENT constant-value (#PCDATA)><!ELEMENT formLevelValidation EMPTY><!ATTLIST formLevelValidation	validator CDATA #REQUIRED><!ELEMENT associativeValidators (validator*)><!ELEMENT elements (element*)><!ELEMENT validator (component*, associativeMessage)><!ATTLIST validator	name CDATA #REQUIRED	relationship CDATA #REQUIRED	operandsNumber CDATA #IMPLIED><!ELEMENT element (message)><!ATTLIST element	name CDATA #REQUIRED	pattern CDATA #REQUIRED><!ELEMENT component EMPTY><!ATTLIST component	name CDATA #REQUIRED><!ELEMENT associativeMessage EMPTY><!ATTLIST associativeMessage	nlsid CDATA #REQUIRED	isKey CDATA #REQUIRED><!ELEMENT message EMPTY><!ATTLIST message	nlsid CDATA #REQUIRED	isKey CDATA #REQUIRED>