im_ajax_support/trunk/docs/PostTextMessagge.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="session_id"/>
				<xs:element ref="chat_text"/>
			</xs:sequence>
			<xs:attribute name="type" fixed="PostTextMessage" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="session_id" type="xs:long"/>
	<xs:element name="chat_text" type="xs:string"/>
</xs:schema>
